# Medical Insurance Cost Analysis

Author: Sylas Chacko

Date: 10/18/2024

### Imports & Data Reading

In [11]:
# Imports
# Data manipulation and analysis
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline

In [3]:
df = pd.read_csv(r'insurance_data.csv')

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Data Cleaning & Preprocessing

- Missing Values
- Duplicates
- Outliers
- Standardizing Data

In [12]:
# Check for missing values
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [15]:
# Checking for duplicate rows
duplicates = df.duplicated()

# Count and print the number of duplicate rows
num_dup = duplicates.sum()
print("Number of duplicate rows:{}".format(num_dup))

Number of duplicate rows:1

In [17]:
# Keeps the first occurance and removes duplicate rows
df1 = df.drop_duplicates()

In [18]:
# Checking for duplicate rows
duplicates = df1.duplicated()

# Count and print the number of duplicate rows
num_dup = duplicates.sum()
print("Number of duplicate rows:{}".format(num_dup))

Number of duplicate rows:0